<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
    <header>
        <%- include('../components/header.ejs') %>
    </header>

    <section id="navigation">
        <%- include('../components/navi.ejs') %>
    </section>

    <section id="content">
        <%- include('../components/filmsList.ejs') %>
    </section>

    <section class="pagination">
        <% if(Number(pages)>0 && Number(pages)<5){ %>
                <% for(let i=1; i < 10 ; i++){ %>
                    <a href=<%=`/movie/popular/${i}` %>><button>
                            <%= i %>
                        </button></a>
                    <% }} else if(Number(pages) <=996 && Number(pages)>= 5){ %>
                        <% for(let i=Number(pages)-4; i <=Number(pages)+4 ; i++){ %>
                            <a href=<%=`/movie/popular/${i}` %>><button>
                                    <%= i%>
                                </button></a>
                            <% }} %>
    </section>

    <footer>
        <%- include('../components/footer.ejs') %>
    </footer>
</body>

</html>